# Build output folders
/Build/
/Bin/
/Debug/
/Release/
/x64/
**/x64/

# Visual Studio Intermediate/Debug files
*.obj
*.exe
*.pdb
*.idb
*.ilk
*.log
*.tlog
*.lastbuildstate
*.pch
*.ipch
*.vcxproj.FileListAbsolute.txt

# Backup files
*~    # Matches: w01zr42z.hhi~

# Visual Studio user-specific files
*.user
*.suo
*.VC.db
*.VC.VC.opendb

# Ignore entire Debug/Release folder trees
**/Debug/
**/Release/

# Visual Studio temp folder
.vs/

# DLLs
*.dll
